.main--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main--container{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    overflow: auto;
}

.new--block {
    width: 10rem !important;
    height: 5rem !important;
    padding: 1rem !important;
}
